# Task 1:

1.
Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np
def moving_average(input_array, window):
    return np.convolve(input_array, np.ones(window), 'valid') / window

In [3]:
input_array = np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150])
window = 3
print(moving_average(input_array,window))

[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]

# Task 2:

1.
How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [4]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df['Y'].values

array([1., 2., 0., 1., 2., 3., 4., 0., 1., 2.])

In [5]:
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

2.
Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [6]:
import pandas as pd
date_time_index = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
series = pd.Series(np.random.rand(len(date_time_index)), index=date_time_index)
series

2015-01-01    0.062991
2015-01-02    0.555612
2015-01-05    0.736436
2015-01-06    0.724627
2015-01-07    0.615261
2015-01-08    0.145797
2015-01-09    0.909594
2015-01-12    0.108082
2015-01-13    0.712872
2015-01-14    0.013314
2015-01-15    0.067744
2015-01-16    0.204622
2015-01-19    0.178270
2015-01-20    0.344597
2015-01-21    0.604158
2015-01-22    0.818022
2015-01-23    0.425180
2015-01-26    0.946898
2015-01-27    0.512665
2015-01-28    0.356651
2015-01-29    0.935706
2015-01-30    0.283278
2015-02-02    0.884069
2015-02-03    0.907301
2015-02-04    0.261233
2015-02-05    0.669183
2015-02-06    0.138148
2015-02-09    0.970119
2015-02-10    0.526810
2015-02-11    0.714755
                ...
2015-11-20    0.290169
2015-11-23    0.486752
2015-11-24    0.990685
2015-11-25    0.732364
2015-11-26    0.089468
2015-11-27    0.967319
2015-11-30    0.756031
2015-12-01    0.233543
2015-12-02    0.915450
2015-12-03    0.399241
2015-12-04    0.704575
2015-12-07    0.853531
2015-12-08    0.795287
2015-12-09    0.252919
2015-12-10    0.670280
2015-12-11    0.028546
2015-12-14    0.182034
2015-12-15    0.457670
2015-12-16    0.902264
2015-12-17    0.442485
2015-12-18    0.819716
2015-12-21    0.966030
2015-12-22    0.267651
2015-12-23    0.350834
2015-12-24    0.603407
2015-12-25    0.519624
2015-12-28    0.002043
2015-12-29    0.994670
2015-12-30    0.589519
2015-12-31    0.802660
Freq: B, Length: 261, dtype: float64

3.
Find the sum of the values in s for every Wednesday

In [7]:
series[date_time_index.weekday == 2].sum()

26.036313558353825

4.
Average For each calendar month

In [8]:
series.resample('M').mean()

2015-01-31    0.466472
2015-02-28    0.511399
2015-03-31    0.593021
2015-04-30    0.584621
2015-05-31    0.534781
2015-06-30    0.568224
2015-07-31    0.439404
2015-08-31    0.444258
2015-09-30    0.400646
2015-10-31    0.646023
2015-11-30    0.553385
2015-12-31    0.554521
Freq: M, dtype: float64

5.
For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [13]:
series.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-26
2015-05-31   2015-03-30
2015-09-30   2015-07-31
2016-01-31   2015-12-29
dtype: datetime64[ns]